<div>
  <h1>Pipes no tan comunes</h1>
  <p>Estos Pipes vienen incluidos en el modulo "CommonModule"</p>
</div>

<!-- Json, Async Pipe -->
<div class="grid">

  <div class="col-12 md:col-6  ">
    <p-fieldset
      legend="Async Pipe"
      [toggleable]="true"
    >

      Para trabajar con promesas / observable.
      <br>

      <!-- //el pipe async se subscribe al observable y devuelve el valor -->
      <div class="flex align-content-center">
        <h1 class="m-auto">{{miObservable | async}}</h1>
      </div>

      <br>

      Valor con promesa luego de 10 segundos:
      <div
        class="text-center"
        *ngIf="promesaCompletada == false"
      >

        <h4 class=""> Cargando respuesta...</h4>
        <br>
        <p-progressSpinner class="mx-auto"></p-progressSpinner>

      </div>

      <pre>
        {{promesa | async}} <p-tag *ngIf="promesaCompletada" value="New"></p-tag>
      </pre>

    </p-fieldset>
  </div>

  <div class="col-12 md:col-6  ">
    <p-fieldset
      legend="Json Pipe"
      [toggleable]="true"
    >

      Muestra un json en su forma original:
      <br>
      {{objPersona | json}}

    </p-fieldset>
  </div>

</div>

<!-- i18nSelect, i18nPlural Pipes -->
<div class="grid">

  <div class="col-12 md:col-6">
    <p-fieldset
      legend="i18nSelect Pipe"
      [toggleable]="true"
    > Saludos <b>{{nombre}}</b>, es un placer <b> {{genero | i18nSelect: i18nSelectMap}}</b> a
      nuestro evento.
    </p-fieldset>

    <div class="flex justify-content-center">
      <button
        pButton
        label="Cambiar persona"
        class="mt-2"
        (click)="CambiarPersona()"
      ></button>
    </div>

  </div>

  <div class="col-12 md:col-6">
    <p-fieldset
      legend="i18nPlural Pipe"
      [toggleable]="true"
    > Actualmente {{ arrClientes.length | i18nPlural:i18nPluralMap }}
    </p-fieldset>

    <div class="flex justify-content-center">
      <button
        pButton
        label="Disminuir -"
        class="m-2"
        (click)="Disminuir()"
      ></button>
      <button
        pButton
        label="Aumentar +"
        class="m-2"
        (click)="Agregar()"
      ></button>
    </div>
  </div>

</div>

<!-- Slice pipe, keyValue pipe -->
<div class="grid my-3">

  <div class="col-12 md:col-6  ">

    <p-fieldset
      legend="Slice Pipe para limitar Arrays"
      [toggleable]="true"
    >

      Cantidad total de String en el arreglo: <b> {{arrClientes.length}} </b>

      <br>
      <br>

      Mostrando maximo 3 con el Pipe de Slice:

      <ul>
        <b> Con directiva del bucle ngFor:</b>
        <li *ngFor="let cliente of arrClientes | slice:0:3">{{cliente}}</li>
        <br>

        <b>Injección directa del arreglo: </b>
        <li>{{arrClientes | slice:0:3 }}</li>
      </ul>

    </p-fieldset>

  </div>

  <div class="col-12 md:col-6  ">
    <p-fieldset
      legend="KeyValue Pipe"
      [toggleable]="true"
    >

      <ul>
        <li *ngFor="let obj of objPersona | keyvalue">{{obj | json}}</li>
      </ul>

      <ul>
        <li *ngFor="let obj of objPersona | keyvalue">
          <b> {{obj.key | titlecase }} </b> : {{obj.value}}
        </li>
      </ul>

    </p-fieldset>

  </div>

</div>
