<div class="sm:col-12 md:col-11 lg:col-10 xl:col-7 m-auto">

  <app-menu-bar></app-menu-bar>

  <router-outlet></router-outlet>

</div>


<!-- 

<div>
  <h1>{{nombre | titlecase}}</h1>
  <h1>{{valor | number}}</h1>
  <h1>{{objeto | json}}</h1>
</div>

<button
  pButton
  label="Click"
  icon="pi pi-bell"
  iconPos="right"
  class="p-button-danger"
  (click)="MostrarNombre()"
></button>

<p-card
  [header]="nombre | titlecase"
  subheader="sub titulo"
  [style]="{
    width: '360px',
    margin: 'auto'
  }"
>

</p-card> -->
